[submodule "i3blocks/contrib"]
	path = i3blocks/contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule "fish/fish_config/plugins/pure"]
	path = fish/fish_config/plugins/pure
	url = git@github.com:pure-fish/pure.git
[submodule "fish/fish_config/plugins/fzf"]
	path = fish/fish_config/plugins/fzf
	url = git@github.com:PatrickF1/fzf.fish.git
