:root:not([customizing]) #navigator-toolbox #nav-bar {
	min-height: 0!important;
	max-height: 0;
	height: 0;
	overflow: hidden;
}

:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar,
:root:not([customizing]) #navigator-toolbox:hover #nav-bar
{
	max-height: 32px;
	height: 32px;
}
